<div id="page1" data-role="page" ng-controller="Page1Ctrl">
	<div data-role="header">
        <h1>Page1 Header</h1>
    </div>
    <div data-role="content">
    	<ul data-role="listview">
    		<li><a href="page2/1">Option 1</a></li>
        	<li><a href="page2/2">Option 2</a></li>
        	<li><a href="page2/3">Option 3</a></li>
        </ul>
    </div>
    <div data-role="footer">
        <h1>Page1 Footer</h1>
    </div>
</div>

<div id="page2" data-role="page" ng-controller="Page2Ctrl">
    <div data-role="header">
        <h1>Page2 Header</h1>
    </div>
    <div data-role="content">
    	<p>You select option: {{option}}
    </div>
    <div data-role="footer">
        <h1>Page2 Footer</h1>
    </div>
</div>